export default {
  apiUrl: '[firebase url]',
  authSignUpUrl: 'https://identitytoolkit.googleapis.com/v1/accounts:signUp?key=[APIKEY]',
  authSignInUrl: 'https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=[APIKEY]',
  options: { 'Content-Type': 'application/json' }
}